main {
  width: 98%;
  margin-left: 1%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-content: center;
}
h1,
h2 {
  margin-bottom: 0.5em;
  color: rgb(10, 32, 77);
}

ul,
p {
  margin-bottom: 1em;
}
